/*amazeUI样式调整*/

.am-datepicker td {
	font-size: 0.14rem;
}

.am-datepicker tr.am-datepicker-header {
	font-size: 0.16rem;
}

.am-selected {
	width: 90%;
	position: absolute;
	top: 0.1rem;
}

.am-btn {
	font-size: 0.16rem;
}

.am-selected-btn.am-btn-default {
	border: none;
}

.am-selected-list {
	font-size: 0.15rem;
}

.am-selected-status {
	margin-top: 0.03rem;
	font-size: 0.14rem;
}
/*模糊查询下拉框样式更改*/
.am-input-sm{
	font-size: 0.14rem!important;
}

.system_info{
	width: 8.4rem;
	height: 0.13rem;
	line-height: 0.13rem;
	padding-left: 0.12rem;
	font-size: 0.12rem;
	position: absolute;
	bottom: 0.03rem;
	margin-left: 0.12rem;
}

/*字体库*/

@font-face {
	font-family: 'iconfont';
	/* project id 627527 */
	src: url('//at.alicdn.com/t/font_627527_mulhsrjweadlhaor.eot');
	src: url('//at.alicdn.com/t/font_627527_mulhsrjweadlhaor.eot?#iefix') format('embedded-opentype'), url('//at.alicdn.com/t/font_627527_mulhsrjweadlhaor.woff') format('woff'), url('//at.alicdn.com/t/font_627527_mulhsrjweadlhaor.ttf') format('truetype'), url('//at.alicdn.com/t/font_627527_mulhsrjweadlhaor.svg#iconfont') format('svg');
}

/*去除ios上input有内阴影的bug*/
input{
	-webkit-appearance: none;
}

a,img,button,input,textarea,select{
	outline: none;
	filter:chroma(color=#000000);
	-webkit-tap-highlight-color:  rgba(255,255,255,0);
	}
	
button::-moz-focus-inner,

input[type="reset"]::-moz-focus-inner,

input[type="button"]::-moz-focus-inner,

input[type="submit"]::-moz-focus-inner,

input[type="file"] > input[type="button"]::-moz-focus-inner {

border: 1px dotted transparent;

}

button:focus::-moz-focus-inner,

input[type="reset"]:focus::-moz-focus-inner,

input[type="button"]:focus::-moz-focus-inner,

input[type="submit"]:focus::-moz-focus-inner,

input[type="file"] > input[type="button"]:focus::-moz-focus-inner {

padding: 3px;

border-color: #F3F3F3;

}

/*居中*/
.common_box_center{
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
}
/*文本超出隐藏*/
.common_box_overflowhide{
	display: block;
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.iconfont {
	font-family: "iconfont" !important;
	font-size: 16px;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-webkit-text-stroke-width: 0.2px;
	-moz-osx-font-smoothing: grayscale;
}

#content_box {
	height: 100%;
	overflow: hidden;
}

#content_box .left {
	width: 15.6%;
	height: 100%;
	float: left;
}

.left .login_name {
	width: 100%;
	height: 0.44rem;
	background-color: #FFC219;
	color: #FFFFFF;
	font-size: 0.14rem;
}

.left .ul_bar {
	width: 100%;
	height: 100%;
	background-color: #818A8C;
}

.left .ul_bar li {
	width: 100%;
	height: 0.44rem;
	font-size: 0.16rem;
	text-align: center;
	line-height: 0.44rem;
	color: #CCCCCC;
}

.left .ul_bar .ul_bar_active {
	color: #FFC219;
	background-color: #5C6567;
}
.right .tab_bar{
	width: 100%;
	height: 0.44rem;
	background-color: #F1F1F1;
}
.hide{
	display: none;
}
.right .page_title{
	width: 100%;
	height: 0.44rem;
	text-align: center;
	line-height: 0.44rem;
	color: #000000;
	font-size: 0.18rem;
	background-color: #FFFFFF;
}
.right{
	width: 84.4%;
	height: 100%;
	background-color: #F8F8F8;
	float: left;
}




/*提示小弹框*/

.log {
	width: 100%;
	height: 100%;
	background-color: black;
	opacity: 0.3;
	position: absolute;
	z-index: 99;
}

.log_window {
	width: 2.8rem;
	height: 1.45rem;
	background: #FFFFFF;
	box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.10);
	border-radius: 10px;
	color: #666666;
	font-size: 0.14rem;
	text-align: center;
	font-size: 0.2rem;
	z-index: 100;
}

.log_window .close_window {
	font-size: 0.12rem;
	color: #DDDDDD;
	top: 0.1rem;
	right: 0.1rem;
}

.log_window .page_num div {
	flex: 1;
	font-size: 0.14rem;
	color: #333333;
}
/*批量操作弹框*/
.check_window{
	width: 2.9rem;
	height: 1.29rem;
	background: #FFFFFF;
	box-shadow: 0 0 4px 0 rgba(0,0,0,0.10);
	border-radius: 2px;
	z-index: 100;
}
.check_window .title{
	width: 100%;
	height: 0.36rem;
	background-color: #FFC219;
	color: #FFFFFF;
	font-size: 0.16rem;
	line-height: 0.36rem;
	text-indent: 0.1rem;
}
.check_window .stop_all,.start_all{
	width: 0.96rem;
	height: 0.36rem;
	background-color: #FFFFFF;
	color: #666666;
	font-size: 0.14rem;
	border: 1px solid #999999;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	text-align: center;
	line-height: 0.36rem;
	margin-top: 0.3rem;
	float: left;
}
.check_window .stop_all{
	margin-left: 0.4rem;
	margin-right: 0.2rem;
}
/*批量调价*/
.change_price{
	width: 5.3rem;
	height: 3.32rem;
	background: #FFFFFF;
	box-shadow: 0 0 4px 0 rgba(0,0,0,0.10);
	border-radius: 2px;
	z-index: 100;
	border-radius: 2px;
}
.change_price .title{
	width: 100%;
	height: 0.36rem;
	background-color: #FFC219;
	color: #FFFFFF;
	text-indent: 0.1rem;
	line-height: 0.36rem;
	font-size: 0.16rem;
}
.change_price .form_box{
	width: 100%;
	height: 2.4rem;
	overflow-y: scroll;
}
.change_price .form_box div{
	height: 0.38rem;
	margin-top: 0.08rem;
}
.change_price .form_box span{
	width: 1rem;
	height: 100%;
	font-size: 0.14rem;
	color: #666666;
	float: left;
	text-align: right;
	margin-right: 0.1rem;
	line-height: 0.38rem;
}
.change_price .form_box p{
	font-size: 0.14rem;
	color: #CCCCCC;
	margin-left: 1.1rem;
}
.change_price .form_box input{
	width: 2.8rem;
	height: 0.36rem;
	outline: none;
	font-size: 0.14rem;
	color: #333333;
	text-indent: 0.1rem;
	float: left;
}
.change_price .sure_click{
	width: 0.68rem;
	height: 0.36rem;
	text-align: center;
	line-height: 0.36rem;
	color: #FFFFFF;
	font-size: 0.14rem;
	background-color: #FFC219;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	margin: auto;
	margin-top: 0.1rem;
}
/*新增颜色*/
.add_color_type,.add_color_form{
	position: absolute;
	width: 2rem;
	min-height: 1.24rem;
	border: 1px solid #CCCCCC;
	top: 0.3rem;
	right: 0;
	background-color: #FFFFFF;
	z-index: 10;
	box-shadow: 0 0 4px 0 rgba(0,0,0,0.10);
	border-radius: 2px;
}
.add_color_type .title,.add_color_form .title{
	font-size: 0.14rem;
	color: #666666;
	margin-left: 0.1rem;
	margin-top: 0.1rem;
}
.add_color_type .text_frame,.add_color_form .text_frame{
	width: 1.82rem;
	height: 0.36rem;
	outline: none;
	margin-left: 0.1rem;
	margin-top: 0.06rem;
	text-indent: 0.1rem;
	color: #333333;
}
.add_color_type .add_color_sure,.add_color_cancel,.add_color_form .add_color_sure,.add_color_cancel{
	width: 0.4rem;
	height: 0.26rem;
	text-align: center;
	line-height: 0.26rem;
	font-size: 0.14rem;
	margin-top: 0.1rem;
	border-radius: 2px;
}
.add_color_form .add_color_sure,.add_color_cancel{
	margin-bottom: 0.1rem;
}
.add_color_form .color_name,.add_color_form .size_name{
	width: 1.82rem;
    height: 0.36rem;
    outline: none;
    margin-left: 0.1rem;
    margin-top: 0.06rem;
    color: #333333;
    border: 1px solid #999 ;
    position: relative;
}
.add_color_type .add_color_sure,.add_color_form .add_color_sure{
	background-color: #FFC219;
	color: #FFFFFF;
	float: left;
	margin-left: 0.55rem;
}
.add_color_type .add_color_cancel,.add_color_form .add_color_cancel{
	background-color: #FFF;
	color: #666;
	border: 1px solid #999999;
	float: right;
	margin-right: 0.55rem;
}

